<app-header></app-header>
<div class="sidenav">
    <a routerLink="/personal">Add Employee Details</a>
    <a routerLink="/employeelist">Employee list</a>
</div>
<div class="container">
  <div class="row">
    <div class="col-3">
      <button class="btn btn-info" (click)="editpersonal()">editpersonal</button>
    </div>
    <div class="col-3">
      <button class="btn btn-success" (click)="editeducation()">editeducation</button>
    </div>
    <div class="col-3">
      <button class="btn btn-info" (click)="editprofessional()">editprofessional</button>
    </div>
    <div class="col-3">
      <button class="btn btn-success" (click)="editfamily()">editfamily</button>
    </div>
  </div>