<app-header></app-header>
<div class="container">
        <div class="row">
          <div class="login-content">
            <div class="login-form">
              <h3>Education details</h3><br>
              <form [formGroup]="registerForm" (ngSubmit)="update()">
                <div class="row">
                  <div class="col-md-6">
                    <label>Institue Name</label>
                    <input type="text" class="form-control" formControlName="institute_name" placeholder="Name" >
                  </div>
                  <div class="col-md-6">
                    <label>Degree</label>
                    <input type="text" class="form-control" formControlName="degree" placeholder="degree" >
                  </div>
                  <div class="col-md-6">
                    <label>start date</label>
                    <input type="date" class="form-control" formControlName="start_date" placeholder="start_date" >
                  </div>
                  <div class="col-md-6">
                    <label>End date</label>
                    <input type="date" class="form-control" formControlName="end_date" placeholder="end_date" >
                  </div>
                </div><br>
               
                <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">update</button><br>
              </form>
            </div>
          </div>
        </div>
      </div>
