<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-info" (click)="add_p()">Add Personal Details</button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary" (click)="add_E()">Add Educational Details</button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-info" (click)="add_F()">Add Family Details</button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary" (click)="add_Pr()">Add Professional Details</button>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
