<div class="sidenav">
    <a routerLink="/leave">Leave Request</a>
</div>
<hr>
<div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="login-content">
                    <div class="login-form">
                        <h4>leave form</h4>
                        <form [formGroup]="registerForm" (ngSubmit)="addleave()">
    
                            <div class="form-group">
                                <label> Start Date</label>
                                <input type="date" class="form-control" formControlName="leave_start_date" 
                                    required>
                                <span class="text-danger"
                                    *ngIf="!registerForm.get('leave_start_date').valid && registerForm.get('leave_start_date').touched">
                                    <span *ngIf="!registerForm.get('leave_start_date').errors['valid']">Enter
                                            start_date</span>
                                </span>
                            </div>
                            <div class="form-group ">
                                <label>End Date</label>
                                <input type="date" class="form-control" formControlName="leave_end_date" 
                                    required>
                                <span class="text-danger"
                                    *ngIf="!registerForm.get('leave_end_date').valid && registerForm.get('leave_end_date').touched">
                                    <span *ngIf="!registerForm.get('leave_end_date').errors['valid']">Enter leave_end_date</span>
                                </span>
                            </div>
                            <div class="form-group ">
                                <label>Reason</label>
                                <input type="text" class="form-control" formControlName="reason" placeholder="eg.to attend function"
                                    required>
                                <span class="text-danger"
                                    *ngIf="!registerForm.get('reason').valid && registerForm.get('reason').touched">
                                    <span *ngIf="!registerForm.get('reason').errors['valid']">Enter reason</span>
                                </span>
                            </div>
                            <div class="form-group ">
                                    <label>Leave type</label>
                                    <input type="text" class="form-control" formControlName="leave_type" placeholder="eg.full day or half day"
                                        required>
                                    <span class="text-danger"
                                        *ngIf="!registerForm.get('leave_type').valid && registerForm.get('leave_type').touched">
                                        <span *ngIf="!registerForm.get('leave_type').errors['valid']">Enter leave_type</span>
                                    </span>
                                </div>
                            <button type="submit" [disabled]="!registerForm.valid" class="btn btn-primary btn-flat m-b-30 m-t-30 mx-3">submit</button>
        
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
