<hr>
<div class="container">
    <div class="sidenav">
        <a routerLink="/leave">Leave Request</a>
    </div>
    <div class="container-fluid">
        <!-- personal -->
        <section class="personal">
            <div class="bg-info">
                <h3>PERSONAL</h3>
            </div>
            <hr>
            <div class="row">
                <div class="col-4">
                    <label for="">
                        <h5>Email:</h5>
                    </label><br>
                    {{personal?.email}}
                </div>
                <div class="col-4">
                    <label for="">
                        <h5>Address:</h5>
                    </label><br>
                    {{personal?.address}}
                </div>
                <div class="col-4">
                    <label for="">
                        <h5>Contact No:</h5>
                    </label><br>
                    {{personal?.contact_no}}
                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-md-3">
                    <label for="">
                        <h5>Pan No:</h5>
                    </label><br>
                    {{personal?.pan_no}}</div>
                <div class="col-md-3">
                    <label for="">
                        <h5>Date Of Birth:</h5>
                    </label><br>
                    {{personal?.dob.slice(0,10)}}
                </div>
                <div class="col-md-3">
                    <label for="">
                        <h5>Emergency Contact No:</h5>
                    </label><br>
                    {{personal?.em_contact_no}}
                </div>
                <div class="col-md-3">
                    <label for="">
                        <h5>Emergency Contact Name:</h5>
                    </label><br>
                    {{personal?.em_contact_name}}
                </div>
            </div>
        </section>
        <hr>
        <!-- Company -->
        <section class="education">
            <div class="bg-info">
                <h3>Company</h3>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <label for="">
                        <h5>Join Date:</h5>
                    </label><br>
                    {{profesional?.join_date.slice(0,10)}}
                </div>
                <div class="col-md-3">
                    <label for="">
                        <h5>Department:</h5>
                    </label><br>
                    {{profesional?.dept_name}}
                </div>
                <div class="col-md-3">
                    <label for="">
                        <h5>Employee Status:</h5>
                    </label><br>
                    {{profesional?.status}}
                </div>
                <div class="col-md-3">
                    <label for="">
                        <h5>Designation:</h5>
                    </label><br>
                    {{profesional?.designation}}
                </div>

            </div>
        </section>
        <hr>
        <!-- Experince -->
        <section class="Experience">
            <div class="bg-info">
                <h3>Experience</h3>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <label for="">
                        <h5>Institute Name:</h5>
                    </label><br>
                    {{education?.institute_name}}
                </div>
                <div class="col-md-3">
                    <label for="">
                        <h5>Degree:</h5>
                    </label><br>
                    {{education?.degree}}
                </div>
                <div class="col-md-3">
                    <label for="">
                        <h5>Start Date:</h5>
                    </label><br>
                    {{education?.start_date.slice(0,10)}}
                </div>

                <div class="col-md-3">
                    <label for="">
                        <h5>End Date:</h5>
                    </label><br>
                    {{education?.end_date.slice(0,10)}}
                </div>
            </div>
        </section><hr>
        <!-- family -->
        <section class="Family">
            <div class="bg-info">
                <h3>Family</h3>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <label for="">
                        <h5>Name:</h5>
                    </label><br>
                    {{family?.name}}
                </div>
                <div class="col-md-3">
                    <label for="">
                        <h5>Relation:</h5>
                    </label><br>
                    {{family?.relation}}
                </div>
                <div class="col-md-3">
                    <label for="">
                        <h5>Contact No:</h5>
                    </label><br>
                    {{family?.phone_no}}
                </div>
                <div class="col-md-3">
                    <label for="">
                        <h5>Occupation</h5>
                    </label><br>
                    {{family?.occupation}}
                </div>
            </div>
        </section>
    </div>

</div>